@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  background-color: transparent !important;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

#container {
  background-image: url("./images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

}

.navbar {
  min-height: 4rem;
}

.time,
.fas {
  color: aliceblue;
  font-weight: 900;
  padding: 0.9rem 0;
  line-height: unset;
}


@media (min-width: 992px) {
  #navbar .time{
    padding: 2rem 0.5rem;
  }
}

.main-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 35rem;
  padding: 3rem 0;
}

.main-section h1,
.main-section .h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  font-weight: 700;
  color: aliceblue;
}

.input-group {
  justify-content: center;
}

.search-input {
  width: 25%;
  border-radius: 50px !important;
  border-color: transparent;
}

.input-group span {
  background-color: transparent;
}

.input-group i {
  color: aliceblue;
  font-size: x-large;
}
