@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  background-color: transparent !important;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

#container {
  background-image: url("./images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.navbar {
  min-height: 4rem;
}

.time,
.fas {
  color: aliceblue;
  font-weight: 900;
  padding: 0.9rem 0.4rem;
  line-height: unset;
  font-size: x-large;
}

@media (min-width: 992px) {
  #navbar .time {
    padding: 2rem 0.5rem;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  min-height: 35rem;
}

.main-section h1,
.main-section .h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  font-weight: 700;
  color: white;
}

.input-group {
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 25%;
  height: 35%;
  border-radius: 50px !important;
  border-color: transparent;
  font-size: smaller;
}

.input-group span {
  background-color: transparent;
}

.input-group i {
  color: aliceblue;
  font-size: x-large;
}

#location-heading {
  font-size: 2rem;
}

#weather-icon {
  font-size: 3rem;
}

#values-container {
  display: flex;
  flex-direction: row;
}

#values-container h1 {
  font-size: 2rem;
}

#main-section {
  margin-top: -6rem;
}

#search-btn {
  background-color: transparent;
  border: none;
}
